In [1]:
import pandas as pd

IMPORTAR TABELA

In [2]:
df = pd.read_csv('empresa7.CSV', encoding='LATIN-1', sep=';')
df

,27499607,POLISERV MAQUINAS E EQUIPAMENTOS PARA ESCRITORIO LTDA,2062,49,"0,00",01,Unnamed: 6
0,27499608,ROSEMARA ANCELMO TIBURCIO DA SILVA 28813739842,2135,50,"15000,00",1.0,NaN
1,27499609,ISMAEL COELHO DOS SANTOS 03077315297,2135,50,"1000,00",1.0,NaN
2,27499610,LUCINETE RODRIGUES TAVARES 83022449100,2135,50,"20000,00",1.0,NaN
3,27499611,MARCOS VINICIUS DOS SANTOS MIRANDA 05204479996,2135,50,"9000,00",1.0,NaN
4,27499612,LUIS ANTONIO CAMARGO COSTA 41920658866,2135,50,"10000,00",1.0,NaN
...,...,...,...,...,...,...,...
4494854,32066825,V. A. CABRAL DOS SANTOS LTDA,2062,49,"97000,00",1.0,NaN
4494855,32066826,ITA ESTRUTURAS E REFORMAS LTDA,2062,49,"30000,00",1.0,NaN
4494856,32066827,D. F. DE LIMA SANTORO - ARQUITETURA,2135,50,"10000,00",1.0,NaN
4494857,32066828,VIRGINIA OLIVEIRA CARDOSO 05579649622,2135,50,"1,00",1.0,NaN
4494858,32066829,KARINA CRISTINA BARROS KRETZSCHMAR 22543951814,2135,50,"1000,00",1.0,NaN

ELIMINAR HEAD (CABEÇALHO)

In [3]:
df = pd.read_csv('empresa7.CSV', encoding='LATIN-1', sep=';', header=None)
df

,0,1,2,3,4,5,6
0,27499607,POLISERV MAQUINAS E EQUIPAMENTOS PARA ESCRITOR...,2062,49,"0,00",1.0,NaN
1,27499608,ROSEMARA ANCELMO TIBURCIO DA SILVA 28813739842,2135,50,"15000,00",1.0,NaN
2,27499609,ISMAEL COELHO DOS SANTOS 03077315297,2135,50,"1000,00",1.0,NaN
3,27499610,LUCINETE RODRIGUES TAVARES 83022449100,2135,50,"20000,00",1.0,NaN
4,27499611,MARCOS VINICIUS DOS SANTOS MIRANDA 05204479996,2135,50,"9000,00",1.0,NaN
...,...,...,...,...,...,...,...
4494855,32066825,V. A. CABRAL DOS SANTOS LTDA,2062,49,"97000,00",1.0,NaN
4494856,32066826,ITA ESTRUTURAS E REFORMAS LTDA,2062,49,"30000,00",1.0,NaN
4494857,32066827,D. F. DE LIMA SANTORO - ARQUITETURA,2135,50,"10000,00",1.0,NaN
4494858,32066828,VIRGINIA OLIVEIRA CARDOSO 05579649622,2135,50,"1,00",1.0,NaN
4494859,32066829,KARINA CRISTINA BARROS KRETZSCHMAR 22543951814,2135,50,"1000,00",1.0,NaN

INSERIR HEAD (CABAÇALHO)

In [4]:
df.columns = ['CNPJ', 'INDEFICADOR MATRIZ/FILIAL', 'RAZÃO SOCIAL', 'NOME FANTASIA', 'SITUAÇÃO CADASTRAL',
                    'DATA SITUAÇÃO CADASTRAL', 'CO-PAÍS']
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,27499607,POLISERV MAQUINAS E EQUIPAMENTOS PARA ESCRITOR...,2062,49,"0,00",1.0,NaN
1,27499608,ROSEMARA ANCELMO TIBURCIO DA SILVA 28813739842,2135,50,"15000,00",1.0,NaN
2,27499609,ISMAEL COELHO DOS SANTOS 03077315297,2135,50,"1000,00",1.0,NaN
3,27499610,LUCINETE RODRIGUES TAVARES 83022449100,2135,50,"20000,00",1.0,NaN
4,27499611,MARCOS VINICIUS DOS SANTOS MIRANDA 05204479996,2135,50,"9000,00",1.0,NaN
...,...,...,...,...,...,...,...
4494855,32066825,V. A. CABRAL DOS SANTOS LTDA,2062,49,"97000,00",1.0,NaN
4494856,32066826,ITA ESTRUTURAS E REFORMAS LTDA,2062,49,"30000,00",1.0,NaN
4494857,32066827,D. F. DE LIMA SANTORO - ARQUITETURA,2135,50,"10000,00",1.0,NaN
4494858,32066828,VIRGINIA OLIVEIRA CARDOSO 05579649622,2135,50,"1,00",1.0,NaN
4494859,32066829,KARINA CRISTINA BARROS KRETZSCHMAR 22543951814,2135,50,"1000,00",1.0,NaN

ELIMINAR A ÚLTIMA LINHA

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,27499607,POLISERV MAQUINAS E EQUIPAMENTOS PARA ESCRITOR...,2062,49,"0,00",1.0,NaN
1,27499608,ROSEMARA ANCELMO TIBURCIO DA SILVA 28813739842,2135,50,"15000,00",1.0,NaN
2,27499609,ISMAEL COELHO DOS SANTOS 03077315297,2135,50,"1000,00",1.0,NaN
3,27499610,LUCINETE RODRIGUES TAVARES 83022449100,2135,50,"20000,00",1.0,NaN
4,27499611,MARCOS VINICIUS DOS SANTOS MIRANDA 05204479996,2135,50,"9000,00",1.0,NaN
...,...,...,...,...,...,...,...
4494854,32066824,32.066.824 MAIZA BARBOSA SANTANA,2135,50,"5000,00",1.0,NaN
4494855,32066825,V. A. CABRAL DOS SANTOS LTDA,2062,49,"97000,00",1.0,NaN
4494856,32066826,ITA ESTRUTURAS E REFORMAS LTDA,2062,49,"30000,00",1.0,NaN
4494857,32066827,D. F. DE LIMA SANTORO - ARQUITETURA,2135,50,"10000,00",1.0,NaN
4494858,32066828,VIRGINIA OLIVEIRA CARDOSO 05579649622,2135,50,"1,00",1.0,NaN

EXPORTAR TABELA:

In [6]:
df.to_csv('n_empresa7.csv', index=False)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,27499607,POLISERV MAQUINAS E EQUIPAMENTOS PARA ESCRITOR...,2062,49,"0,00",1.0,NaN
1,27499608,ROSEMARA ANCELMO TIBURCIO DA SILVA 28813739842,2135,50,"15000,00",1.0,NaN
2,27499609,ISMAEL COELHO DOS SANTOS 03077315297,2135,50,"1000,00",1.0,NaN
3,27499610,LUCINETE RODRIGUES TAVARES 83022449100,2135,50,"20000,00",1.0,NaN
4,27499611,MARCOS VINICIUS DOS SANTOS MIRANDA 05204479996,2135,50,"9000,00",1.0,NaN
...,...,...,...,...,...,...,...
4494854,32066824,32.066.824 MAIZA BARBOSA SANTANA,2135,50,"5000,00",1.0,NaN
4494855,32066825,V. A. CABRAL DOS SANTOS LTDA,2062,49,"97000,00",1.0,NaN
4494856,32066826,ITA ESTRUTURAS E REFORMAS LTDA,2062,49,"30000,00",1.0,NaN
4494857,32066827,D. F. DE LIMA SANTORO - ARQUITETURA,2135,50,"10000,00",1.0,NaN
4494858,32066828,VIRGINIA OLIVEIRA CARDOSO 05579649622,2135,50,"1,00",1.0,NaN

In [7]:
df.to_excel('n_empresa7.xlsx', index=False)
df

ValueError: This sheet is too large! Your sheet size is: 4494859, 7 Max sheet size is: 1048576, 16384