In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('estabelecimento6.csv', encoding = 'latin1', sep = ';')
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_1076\3260841710.py:1: DtypeWarning: Columns (8,21,22,24,25,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento6.csv', encoding = 'latin1', sep = ';')

,51104953,0001,30,1,Unnamed: 4,02,20230619,00,Unnamed: 8,Unnamed: 9,...,5833,21,80844219,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,VALERIATEIXEIRADACOSTA@GMAIL.COM,Unnamed: 28,Unnamed: 29
0,51104964,1,10,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,95146317.0,NaN,NaN,NaN,NaN,LUISAJUSTINA1963@GMAIL.COM,NaN,NaN
1,51104976,1,45,1,NaN,2,20230619,0,NaN,NaN,...,3573,73.0,81199021.0,NaN,NaN,NaN,NaN,LUIZINHO_CERQUEIRA@HOTMAIL.COM,NaN,NaN
2,51104986,1,80,1,NaN,2,20230619,0,NaN,NaN,...,3,69.0,99979786.0,NaN,NaN,NaN,NaN,TAISSA.OLVR@GMAIL.COM,NaN,NaN
3,51104996,1,16,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,29515939.0,NaN,NaN,NaN,NaN,SIMONE.SSJ@TERRA.COM.BRSP,NaN,NaN
4,51105006,1,64,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,35017868.0,NaN,NaN,NaN,NaN,PAULO.5.RICARDO@HOTMAIL.COM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,38269931,1,62,1,NaN,8,20210609,1,NaN,NaN,...,7057,11.0,43383008.0,NaN,NaN,NaN,NaN,FABIOPS83@GMAIL.COM,NaN,NaN
4753430,38269944,1,31,1,NaN,4,20221125,63,NaN,NaN,...,2457,81.0,91994643.0,NaN,NaN,NaN,NaN,JORGEAD2019@OUTLOOK.COM,NaN,NaN
4753431,38269954,1,77,1,NaN,4,20231107,63,NaN,NaN,...,7107,11.0,48109384.0,NaN,NaN,NaN,NaN,ANDERSONELIZA3@GMAIL.COM,NaN,NaN
4753432,38269968,1,90,1,NaN,4,20221130,63,NaN,NaN,...,3629,77.0,91500660.0,NaN,NaN,NaN,NaN,TARCISIOALMEIDA042@GMAIL.COM,NaN,NaN
4753433,38269978,1,26,1,NaN,8,20230105,1,NaN,NaN,...,7107,11.0,70312594.0,NaN,NaN,NaN,NaN,JULIANOSILVA694@GMAIL.COM,NaN,NaN

In [3]:
df = pd.read_csv('estabelecimento6.csv', encoding = 'latin1', sep = ';', header=None)
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_1076\1093845750.py:1: DtypeWarning: Columns (8,21,22,24,25,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento6.csv', encoding = 'latin1', sep = ';', header=None)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,51104953,1,30,1,NaN,2,20230619,0,NaN,NaN,...,5833,21.0,80844219.0,NaN,NaN,NaN,NaN,VALERIATEIXEIRADACOSTA@GMAIL.COM,NaN,NaN
1,51104964,1,10,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,95146317.0,NaN,NaN,NaN,NaN,LUISAJUSTINA1963@GMAIL.COM,NaN,NaN
2,51104976,1,45,1,NaN,2,20230619,0,NaN,NaN,...,3573,73.0,81199021.0,NaN,NaN,NaN,NaN,LUIZINHO_CERQUEIRA@HOTMAIL.COM,NaN,NaN
3,51104986,1,80,1,NaN,2,20230619,0,NaN,NaN,...,3,69.0,99979786.0,NaN,NaN,NaN,NaN,TAISSA.OLVR@GMAIL.COM,NaN,NaN
4,51104996,1,16,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,29515939.0,NaN,NaN,NaN,NaN,SIMONE.SSJ@TERRA.COM.BRSP,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,38269931,1,62,1,NaN,8,20210609,1,NaN,NaN,...,7057,11.0,43383008.0,NaN,NaN,NaN,NaN,FABIOPS83@GMAIL.COM,NaN,NaN
4753431,38269944,1,31,1,NaN,4,20221125,63,NaN,NaN,...,2457,81.0,91994643.0,NaN,NaN,NaN,NaN,JORGEAD2019@OUTLOOK.COM,NaN,NaN
4753432,38269954,1,77,1,NaN,4,20231107,63,NaN,NaN,...,7107,11.0,48109384.0,NaN,NaN,NaN,NaN,ANDERSONELIZA3@GMAIL.COM,NaN,NaN
4753433,38269968,1,90,1,NaN,4,20221130,63,NaN,NaN,...,3629,77.0,91500660.0,NaN,NaN,NaN,NaN,TARCISIOALMEIDA042@GMAIL.COM,NaN,NaN
4753434,38269978,1,26,1,NaN,8,20230105,1,NaN,NaN,...,7107,11.0,70312594.0,NaN,NaN,NaN,NaN,JULIANOSILVA694@GMAIL.COM,NaN,NaN

In [4]:
df.columns = ['DESCRIÇÃO TIPO LOGRADOURO', 'LOGRADOURO', 'NUMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP',
                'UF', 'CODIGO MUNICIPIO', 'MUNICIPIO', 'DDD-TELEFONE-1', 'DDD', 'TELEFONE-1', 'DDD-TELEFONE-2',
                'DDD-2', 'TELEFONE-2', 'DDD-FAX', 'NU-DDD-FAX', 'NU-FAX', 'CORREIO ELETRONICO', 
                'QUALIFICAÇÃO DO RESPONSÁVEL', 'CAPITAL SOCIAL DA EMPRESA', 'PORTE-EMPRESA', 'OPÇÃO PELO SIMPLES',
                'DATA OPCAO PELO SIMPLES', 'DATA EXCLUSÃO DO SIMPLES', 'OPÇÃO PELO MEI', 'SITUAÇÃO ESPECIAL',
                'DATA SITUAÇÃO ESPECIAL', 'FILLER', 'FIM DE REGISTRO']
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,51104953,1,30,1,NaN,2,20230619,0,NaN,NaN,...,5833,21.0,80844219.0,NaN,NaN,NaN,NaN,VALERIATEIXEIRADACOSTA@GMAIL.COM,NaN,NaN
1,51104964,1,10,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,95146317.0,NaN,NaN,NaN,NaN,LUISAJUSTINA1963@GMAIL.COM,NaN,NaN
2,51104976,1,45,1,NaN,2,20230619,0,NaN,NaN,...,3573,73.0,81199021.0,NaN,NaN,NaN,NaN,LUIZINHO_CERQUEIRA@HOTMAIL.COM,NaN,NaN
3,51104986,1,80,1,NaN,2,20230619,0,NaN,NaN,...,3,69.0,99979786.0,NaN,NaN,NaN,NaN,TAISSA.OLVR@GMAIL.COM,NaN,NaN
4,51104996,1,16,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,29515939.0,NaN,NaN,NaN,NaN,SIMONE.SSJ@TERRA.COM.BRSP,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,38269931,1,62,1,NaN,8,20210609,1,NaN,NaN,...,7057,11.0,43383008.0,NaN,NaN,NaN,NaN,FABIOPS83@GMAIL.COM,NaN,NaN
4753431,38269944,1,31,1,NaN,4,20221125,63,NaN,NaN,...,2457,81.0,91994643.0,NaN,NaN,NaN,NaN,JORGEAD2019@OUTLOOK.COM,NaN,NaN
4753432,38269954,1,77,1,NaN,4,20231107,63,NaN,NaN,...,7107,11.0,48109384.0,NaN,NaN,NaN,NaN,ANDERSONELIZA3@GMAIL.COM,NaN,NaN
4753433,38269968,1,90,1,NaN,4,20221130,63,NaN,NaN,...,3629,77.0,91500660.0,NaN,NaN,NaN,NaN,TARCISIOALMEIDA042@GMAIL.COM,NaN,NaN
4753434,38269978,1,26,1,NaN,8,20230105,1,NaN,NaN,...,7107,11.0,70312594.0,NaN,NaN,NaN,NaN,JULIANOSILVA694@GMAIL.COM,NaN,NaN

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,51104953,1,30,1,NaN,2,20230619,0,NaN,NaN,...,5833,21.0,80844219.0,NaN,NaN,NaN,NaN,VALERIATEIXEIRADACOSTA@GMAIL.COM,NaN,NaN
1,51104964,1,10,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,95146317.0,NaN,NaN,NaN,NaN,LUISAJUSTINA1963@GMAIL.COM,NaN,NaN
2,51104976,1,45,1,NaN,2,20230619,0,NaN,NaN,...,3573,73.0,81199021.0,NaN,NaN,NaN,NaN,LUIZINHO_CERQUEIRA@HOTMAIL.COM,NaN,NaN
3,51104986,1,80,1,NaN,2,20230619,0,NaN,NaN,...,3,69.0,99979786.0,NaN,NaN,NaN,NaN,TAISSA.OLVR@GMAIL.COM,NaN,NaN
4,51104996,1,16,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,29515939.0,NaN,NaN,NaN,NaN,SIMONE.SSJ@TERRA.COM.BRSP,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,38269919,1,58,1,VSG EXPRESS,8,20220906,1,NaN,NaN,...,8915,51.0,93838630.0,NaN,NaN,NaN,NaN,VAGNERSGLAPINSKI@GMAIL.COM,NaN,NaN
4753430,38269931,1,62,1,NaN,8,20210609,1,NaN,NaN,...,7057,11.0,43383008.0,NaN,NaN,NaN,NaN,FABIOPS83@GMAIL.COM,NaN,NaN
4753431,38269944,1,31,1,NaN,4,20221125,63,NaN,NaN,...,2457,81.0,91994643.0,NaN,NaN,NaN,NaN,JORGEAD2019@OUTLOOK.COM,NaN,NaN
4753432,38269954,1,77,1,NaN,4,20231107,63,NaN,NaN,...,7107,11.0,48109384.0,NaN,NaN,NaN,NaN,ANDERSONELIZA3@GMAIL.COM,NaN,NaN
4753433,38269968,1,90,1,NaN,4,20221130,63,NaN,NaN,...,3629,77.0,91500660.0,NaN,NaN,NaN,NaN,TARCISIOALMEIDA042@GMAIL.COM,NaN,NaN

In [6]:
df.to_csv('n_estabelecimento6.csv', index=False)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,51104953,1,30,1,NaN,2,20230619,0,NaN,NaN,...,5833,21.0,80844219.0,NaN,NaN,NaN,NaN,VALERIATEIXEIRADACOSTA@GMAIL.COM,NaN,NaN
1,51104964,1,10,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,95146317.0,NaN,NaN,NaN,NaN,LUISAJUSTINA1963@GMAIL.COM,NaN,NaN
2,51104976,1,45,1,NaN,2,20230619,0,NaN,NaN,...,3573,73.0,81199021.0,NaN,NaN,NaN,NaN,LUIZINHO_CERQUEIRA@HOTMAIL.COM,NaN,NaN
3,51104986,1,80,1,NaN,2,20230619,0,NaN,NaN,...,3,69.0,99979786.0,NaN,NaN,NaN,NaN,TAISSA.OLVR@GMAIL.COM,NaN,NaN
4,51104996,1,16,1,NaN,2,20230619,0,NaN,NaN,...,7107,11.0,29515939.0,NaN,NaN,NaN,NaN,SIMONE.SSJ@TERRA.COM.BRSP,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,38269919,1,58,1,VSG EXPRESS,8,20220906,1,NaN,NaN,...,8915,51.0,93838630.0,NaN,NaN,NaN,NaN,VAGNERSGLAPINSKI@GMAIL.COM,NaN,NaN
4753430,38269931,1,62,1,NaN,8,20210609,1,NaN,NaN,...,7057,11.0,43383008.0,NaN,NaN,NaN,NaN,FABIOPS83@GMAIL.COM,NaN,NaN
4753431,38269944,1,31,1,NaN,4,20221125,63,NaN,NaN,...,2457,81.0,91994643.0,NaN,NaN,NaN,NaN,JORGEAD2019@OUTLOOK.COM,NaN,NaN
4753432,38269954,1,77,1,NaN,4,20231107,63,NaN,NaN,...,7107,11.0,48109384.0,NaN,NaN,NaN,NaN,ANDERSONELIZA3@GMAIL.COM,NaN,NaN
4753433,38269968,1,90,1,NaN,4,20221130,63,NaN,NaN,...,3629,77.0,91500660.0,NaN,NaN,NaN,NaN,TARCISIOALMEIDA042@GMAIL.COM,NaN,NaN