In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('estabelecimento0.csv', encoding = 'latin1', sep = ';')
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_13008\3409278919.py:1: DtypeWarning: Columns (8,18,21,22,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento0.csv', encoding = 'latin1', sep = ';')

,20765798,0001,70,1,Unnamed: 4,08,20010219,01,Unnamed: 8,Unnamed: 9,...,4569,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,76137801,1,65,1,NaN,8,20081231,71,NaN,NaN,...,7557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,61079117,205,56,2,NaN,8,19960527,1,NaN,NaN,...,7099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6900758,1,62,1,NaN,4,20181016,63,NaN,NaN,...,7107,11.0,32423000,NaN,NaN,NaN,NaN,RODOLFO.COSTA@BISCALDIBUENO.ADV.BR,NaN,NaN
3,38692695,1,92,1,NaN,8,20081231,71,NaN,NaN,...,5401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4733969,1,22,1,SOUSA PECAS,4,20210422,63,NaN,NaN,...,3643,73.0,32652481,73.0,32652481.0,73.0,32652481,conteci.contabilidade@hotmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17486898,54718383,1,67,1,NaN,2,20240413,0,NaN,NaN,...,2531,81.0,71104883.0,NaN,NaN,NaN,NaN,PRCONSULTORIACONTABIL@GMAIL.COM,NaN,NaN
17486899,54718394,1,47,1,NaN,2,20240413,0,NaN,NaN,...,8327,48.0,99113907.0,NaN,NaN,NaN,NaN,LUISHS98C@GMAIL.COM,NaN,NaN
17486900,54718404,1,44,1,NaN,2,20240413,0,NaN,NaN,...,4479,32.0,84894601.0,NaN,NaN,NaN,NaN,ANDREGERSOUZA22@GMAIL.COM,NaN,NaN
17486901,54718415,1,24,1,NaN,2,20240413,0,NaN,NaN,...,1731,84.0,99335013.0,NaN,NaN,NaN,NaN,DANTASJOSE707@GMAIL.COM,NaN,NaN
17486902,54718427,1,59,1,NaN,2,20240413,0,NaN,NaN,...,6727,16.0,32411276.0,NaN,NaN,NaN,NaN,JULIA.CAMPOS23@OUTLOOK.COM,NaN,NaN

In [4]:
df.drop(df.tail(1).index, inplace=True)
df

,20765798,0001,70,1,Unnamed: 4,08,20010219,01,Unnamed: 8,Unnamed: 9,...,4569,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,76137801,1,65,1,NaN,8,20081231,71,NaN,NaN,...,7557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,61079117,205,56,2,NaN,8,19960527,1,NaN,NaN,...,7099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6900758,1,62,1,NaN,4,20181016,63,NaN,NaN,...,7107,11.0,32423000,NaN,NaN,NaN,NaN,RODOLFO.COSTA@BISCALDIBUENO.ADV.BR,NaN,NaN
3,38692695,1,92,1,NaN,8,20081231,71,NaN,NaN,...,5401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4733969,1,22,1,SOUSA PECAS,4,20210422,63,NaN,NaN,...,3643,73.0,32652481,73.0,32652481.0,73.0,32652481,conteci.contabilidade@hotmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17486897,54718371,1,32,1,NaN,2,20240413,0,NaN,NaN,...,6001,21.0,96517775.0,NaN,NaN,NaN,NaN,DAVID_RUAN1@ICLOUD.COM,NaN,NaN
17486898,54718383,1,67,1,NaN,2,20240413,0,NaN,NaN,...,2531,81.0,71104883.0,NaN,NaN,NaN,NaN,PRCONSULTORIACONTABIL@GMAIL.COM,NaN,NaN
17486899,54718394,1,47,1,NaN,2,20240413,0,NaN,NaN,...,8327,48.0,99113907.0,NaN,NaN,NaN,NaN,LUISHS98C@GMAIL.COM,NaN,NaN
17486900,54718404,1,44,1,NaN,2,20240413,0,NaN,NaN,...,4479,32.0,84894601.0,NaN,NaN,NaN,NaN,ANDREGERSOUZA22@GMAIL.COM,NaN,NaN
17486901,54718415,1,24,1,NaN,2,20240413,0,NaN,NaN,...,1731,84.0,99335013.0,NaN,NaN,NaN,NaN,DANTASJOSE707@GMAIL.COM,NaN,NaN