In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('estabelecimento7.csv', encoding='LATIN-1', sep=';')
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_6764\1366258037.py:1: DtypeWarning: Columns (8,21,22,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento7.csv', encoding='LATIN-1', sep=';')

,36739367,0001,79,1,Unnamed: 4,04,20220607,63,Unnamed: 8,Unnamed: 9,...,6001,21,34007698,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,ALINEAMARAL@MILOSCONTABILIDADE.COM.BR,Unnamed: 28,Unnamed: 29
0,36739377,1,4,1,NaN,2,20200320,0,NaN,NaN,...,5703,27.0,96405921.0,NaN,NaN,NaN,NaN,GABRIELABRUNORO@HOTMAIL.COM,NaN,NaN
1,36739389,1,39,1,NaN,2,20200320,0,NaN,NaN,...,6251,11.0,74354250.0,NaN,NaN,NaN,NaN,GUSTAVOHENRIQUE.26CAUA@GMAIL.COM,NaN,NaN
2,28217060,2,60,2,RESIDENCIAL ARMONA SPE LTDA,2,20190725,0,NaN,NaN,...,8163,47.0,32685258.0,NaN,NaN,NaN,NaN,FINANCEIRO@BFABBRIANI.COM,NaN,NaN
3,36739413,1,30,1,NaN,4,20221122,63,NaN,NaN,...,6291,19.0,38456285.0,NaN,NaN,NaN,NaN,CLAYTONSEGVIP@GMAIL.COM,NaN,NaN
4,36739424,1,10,1,YASMIN YUNES SALLES GAUDARD,8,20210406,1,NaN,NaN,...,9701,61.0,33651958.0,NaN,NaN,NaN,NaN,YASMINYUNESS@GMAIL.COM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,23297188,1,87,1,JUM JUM LEE,8,20151002,1,NaN,NaN,...,7107,11.0,87053290.0,NaN,NaN,NaN,NaN,nicolaulee@gmail.com,NaN,NaN
4753430,23297202,1,42,1,FAST LAND,8,20220826,1,NaN,NaN,...,7535,41.0,87295957.0,NaN,NaN,NaN,NaN,K.OLENIKI@HOTMAIL.COM,NaN,NaN
4753431,23297215,1,11,1,PASTELARIA SABRINA,8,20150924,1,NaN,NaN,...,9627,63.0,84392290.0,NaN,NaN,NaN,NaN,lazaromdesousa@gmail.com,NaN,NaN
4753432,23297224,1,2,1,NaN,4,20210319,63,NaN,NaN,...,2909,21.0,26618460.0,NaN,NaN,NaN,NaN,jhonatasplay@hotmail.com,NaN,NaN
4753433,23297240,1,3,1,CLAUDIA MACHADO,8,20210705,1,NaN,NaN,...,5249,32.0,33731190.0,NaN,NaN,NaN,NaN,BRUNONASCIMENTO404@YAHOO.COM.BR,NaN,NaN

In [3]:
df = pd.read_csv('estabelecimento7.csv', encoding='LATIN-1', sep=';', header=None)
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_6764\1101391398.py:1: DtypeWarning: Columns (8,21,22,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento7.csv', encoding='LATIN-1', sep=';', header=None)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,36739367,1,79,1,NaN,4,20220607,63,NaN,NaN,...,6001,21.0,34007698.0,NaN,NaN,NaN,NaN,ALINEAMARAL@MILOSCONTABILIDADE.COM.BR,NaN,NaN
1,36739377,1,4,1,NaN,2,20200320,0,NaN,NaN,...,5703,27.0,96405921.0,NaN,NaN,NaN,NaN,GABRIELABRUNORO@HOTMAIL.COM,NaN,NaN
2,36739389,1,39,1,NaN,2,20200320,0,NaN,NaN,...,6251,11.0,74354250.0,NaN,NaN,NaN,NaN,GUSTAVOHENRIQUE.26CAUA@GMAIL.COM,NaN,NaN
3,28217060,2,60,2,RESIDENCIAL ARMONA SPE LTDA,2,20190725,0,NaN,NaN,...,8163,47.0,32685258.0,NaN,NaN,NaN,NaN,FINANCEIRO@BFABBRIANI.COM,NaN,NaN
4,36739413,1,30,1,NaN,4,20221122,63,NaN,NaN,...,6291,19.0,38456285.0,NaN,NaN,NaN,NaN,CLAYTONSEGVIP@GMAIL.COM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,23297188,1,87,1,JUM JUM LEE,8,20151002,1,NaN,NaN,...,7107,11.0,87053290.0,NaN,NaN,NaN,NaN,nicolaulee@gmail.com,NaN,NaN
4753431,23297202,1,42,1,FAST LAND,8,20220826,1,NaN,NaN,...,7535,41.0,87295957.0,NaN,NaN,NaN,NaN,K.OLENIKI@HOTMAIL.COM,NaN,NaN
4753432,23297215,1,11,1,PASTELARIA SABRINA,8,20150924,1,NaN,NaN,...,9627,63.0,84392290.0,NaN,NaN,NaN,NaN,lazaromdesousa@gmail.com,NaN,NaN
4753433,23297224,1,2,1,NaN,4,20210319,63,NaN,NaN,...,2909,21.0,26618460.0,NaN,NaN,NaN,NaN,jhonatasplay@hotmail.com,NaN,NaN
4753434,23297240,1,3,1,CLAUDIA MACHADO,8,20210705,1,NaN,NaN,...,5249,32.0,33731190.0,NaN,NaN,NaN,NaN,BRUNONASCIMENTO404@YAHOO.COM.BR,NaN,NaN

In [4]:
df.columns = ['DESCRIÇÃO TIPO LOGRADOURO', 'LOGRADOURO', 'NUMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP',
                'UF', 'CODIGO MUNICIPIO', 'MUNICIPIO', 'DDD-TELEFONE-1', 'DDD', 'TELEFONE-1', 'DDD-TELEFONE-2',
                'DDD-2', 'TELEFONE-2', 'DDD-FAX', 'NU-DDD-FAX', 'NU-FAX', 'CORREIO ELETRONICO', 
                'QUALIFICAÇÃO DO RESPONSÁVEL', 'CAPITAL SOCIAL DA EMPRESA', 'PORTE-EMPRESA', 'OPÇÃO PELO SIMPLES',
                'DATA OPCAO PELO SIMPLES', 'DATA EXCLUSÃO DO SIMPLES', 'OPÇÃO PELO MEI', 'SITUAÇÃO ESPECIAL',
                'DATA SITUAÇÃO ESPECIAL', 'FILLER', 'FIM DE REGISTRO']
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,36739367,1,79,1,NaN,4,20220607,63,NaN,NaN,...,6001,21.0,34007698.0,NaN,NaN,NaN,NaN,ALINEAMARAL@MILOSCONTABILIDADE.COM.BR,NaN,NaN
1,36739377,1,4,1,NaN,2,20200320,0,NaN,NaN,...,5703,27.0,96405921.0,NaN,NaN,NaN,NaN,GABRIELABRUNORO@HOTMAIL.COM,NaN,NaN
2,36739389,1,39,1,NaN,2,20200320,0,NaN,NaN,...,6251,11.0,74354250.0,NaN,NaN,NaN,NaN,GUSTAVOHENRIQUE.26CAUA@GMAIL.COM,NaN,NaN
3,28217060,2,60,2,RESIDENCIAL ARMONA SPE LTDA,2,20190725,0,NaN,NaN,...,8163,47.0,32685258.0,NaN,NaN,NaN,NaN,FINANCEIRO@BFABBRIANI.COM,NaN,NaN
4,36739413,1,30,1,NaN,4,20221122,63,NaN,NaN,...,6291,19.0,38456285.0,NaN,NaN,NaN,NaN,CLAYTONSEGVIP@GMAIL.COM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,23297188,1,87,1,JUM JUM LEE,8,20151002,1,NaN,NaN,...,7107,11.0,87053290.0,NaN,NaN,NaN,NaN,nicolaulee@gmail.com,NaN,NaN
4753431,23297202,1,42,1,FAST LAND,8,20220826,1,NaN,NaN,...,7535,41.0,87295957.0,NaN,NaN,NaN,NaN,K.OLENIKI@HOTMAIL.COM,NaN,NaN
4753432,23297215,1,11,1,PASTELARIA SABRINA,8,20150924,1,NaN,NaN,...,9627,63.0,84392290.0,NaN,NaN,NaN,NaN,lazaromdesousa@gmail.com,NaN,NaN
4753433,23297224,1,2,1,NaN,4,20210319,63,NaN,NaN,...,2909,21.0,26618460.0,NaN,NaN,NaN,NaN,jhonatasplay@hotmail.com,NaN,NaN
4753434,23297240,1,3,1,CLAUDIA MACHADO,8,20210705,1,NaN,NaN,...,5249,32.0,33731190.0,NaN,NaN,NaN,NaN,BRUNONASCIMENTO404@YAHOO.COM.BR,NaN,NaN

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,36739367,1,79,1,NaN,4,20220607,63,NaN,NaN,...,6001,21.0,34007698.0,NaN,NaN,NaN,NaN,ALINEAMARAL@MILOSCONTABILIDADE.COM.BR,NaN,NaN
1,36739377,1,4,1,NaN,2,20200320,0,NaN,NaN,...,5703,27.0,96405921.0,NaN,NaN,NaN,NaN,GABRIELABRUNORO@HOTMAIL.COM,NaN,NaN
2,36739389,1,39,1,NaN,2,20200320,0,NaN,NaN,...,6251,11.0,74354250.0,NaN,NaN,NaN,NaN,GUSTAVOHENRIQUE.26CAUA@GMAIL.COM,NaN,NaN
3,28217060,2,60,2,RESIDENCIAL ARMONA SPE LTDA,2,20190725,0,NaN,NaN,...,8163,47.0,32685258.0,NaN,NaN,NaN,NaN,FINANCEIRO@BFABBRIANI.COM,NaN,NaN
4,36739413,1,30,1,NaN,4,20221122,63,NaN,NaN,...,6291,19.0,38456285.0,NaN,NaN,NaN,NaN,CLAYTONSEGVIP@GMAIL.COM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,23297174,1,63,1,NaN,4,20210122,63,NaN,NaN,...,6589,12.0,88945623.0,NaN,NaN,NaN,NaN,SGFBRASIL@HOTMAIL.COM,NaN,NaN
4753430,23297188,1,87,1,JUM JUM LEE,8,20151002,1,NaN,NaN,...,7107,11.0,87053290.0,NaN,NaN,NaN,NaN,nicolaulee@gmail.com,NaN,NaN
4753431,23297202,1,42,1,FAST LAND,8,20220826,1,NaN,NaN,...,7535,41.0,87295957.0,NaN,NaN,NaN,NaN,K.OLENIKI@HOTMAIL.COM,NaN,NaN
4753432,23297215,1,11,1,PASTELARIA SABRINA,8,20150924,1,NaN,NaN,...,9627,63.0,84392290.0,NaN,NaN,NaN,NaN,lazaromdesousa@gmail.com,NaN,NaN
4753433,23297224,1,2,1,NaN,4,20210319,63,NaN,NaN,...,2909,21.0,26618460.0,NaN,NaN,NaN,NaN,jhonatasplay@hotmail.com,NaN,NaN

In [6]:
df.to_csv('n_estabelecimento7.csv', index=False)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,36739367,1,79,1,NaN,4,20220607,63,NaN,NaN,...,6001,21.0,34007698.0,NaN,NaN,NaN,NaN,ALINEAMARAL@MILOSCONTABILIDADE.COM.BR,NaN,NaN
1,36739377,1,4,1,NaN,2,20200320,0,NaN,NaN,...,5703,27.0,96405921.0,NaN,NaN,NaN,NaN,GABRIELABRUNORO@HOTMAIL.COM,NaN,NaN
2,36739389,1,39,1,NaN,2,20200320,0,NaN,NaN,...,6251,11.0,74354250.0,NaN,NaN,NaN,NaN,GUSTAVOHENRIQUE.26CAUA@GMAIL.COM,NaN,NaN
3,28217060,2,60,2,RESIDENCIAL ARMONA SPE LTDA,2,20190725,0,NaN,NaN,...,8163,47.0,32685258.0,NaN,NaN,NaN,NaN,FINANCEIRO@BFABBRIANI.COM,NaN,NaN
4,36739413,1,30,1,NaN,4,20221122,63,NaN,NaN,...,6291,19.0,38456285.0,NaN,NaN,NaN,NaN,CLAYTONSEGVIP@GMAIL.COM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,23297174,1,63,1,NaN,4,20210122,63,NaN,NaN,...,6589,12.0,88945623.0,NaN,NaN,NaN,NaN,SGFBRASIL@HOTMAIL.COM,NaN,NaN
4753430,23297188,1,87,1,JUM JUM LEE,8,20151002,1,NaN,NaN,...,7107,11.0,87053290.0,NaN,NaN,NaN,NaN,nicolaulee@gmail.com,NaN,NaN
4753431,23297202,1,42,1,FAST LAND,8,20220826,1,NaN,NaN,...,7535,41.0,87295957.0,NaN,NaN,NaN,NaN,K.OLENIKI@HOTMAIL.COM,NaN,NaN
4753432,23297215,1,11,1,PASTELARIA SABRINA,8,20150924,1,NaN,NaN,...,9627,63.0,84392290.0,NaN,NaN,NaN,NaN,lazaromdesousa@gmail.com,NaN,NaN
4753433,23297224,1,2,1,NaN,4,20210319,63,NaN,NaN,...,2909,21.0,26618460.0,NaN,NaN,NaN,NaN,jhonatasplay@hotmail.com,NaN,NaN