In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('estabelecimento9.csv', encoding = 'latin1', sep = ';')
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_5764\1115042560.py:1: DtypeWarning: Columns (8,21,22,24,25,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento9.csv', encoding = 'latin1', sep = ';')

,79242905,0001,28,1,Unnamed: 4,08,19870122,01,Unnamed: 8,Unnamed: 9,...,8173,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,47041223,1,60,1,NaN,2,20051103,0,NaN,NaN,...,6425,16.0,37216090,16.0,37014022.0,16.0,37014022,ASSEMBLEIADEDEUSFRANCA@HOTMAIL.COM,NaN,NaN
1,4938273,1,32,1,NaN,2,20020131,0,NaN,NaN,...,7963,41.0,2292148,NaN,NaN,41.0,2292148,NaN,NaN,NaN
2,5561924,1,80,1,NaN,8,20050516,1,NaN,NaN,...,6131,19.0,34651679,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,42005868,1,24,1,NaN,8,19960630,1,NaN,NaN,...,3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2054384,1,50,1,IVO COMERCIO & SERVICOS,4,20181025,63,NaN,NaN,...,2491,81.0,4264607,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,24513020,4,77,2,TRANSFIGUEIREDO,8,19951228,1,NaN,NaN,...,1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753430,24514093,2,11,2,NaN,8,20081231,71,NaN,NaN,...,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,5991530,1,62,1,CENTRO DE FORMACAO DE CONDUTORES VANTE,2,20051103,0,NaN,NaN,...,4701,38.0,38213634.0,NaN,NaN,NaN,NaN,AUTOESCOLAVANTE@GMAIL.COM,NaN,NaN
4753432,24515793,2,20,2,LOJAS RIBAMAR,2,20010526,0,NaN,NaN,...,1639,84.0,34211688.0,84.0,96849190.0,84.0,34211567.0,FMCONTABILIDADE2012@GMAIL.COM,NaN,NaN
4753433,2600132,1,80,1,TROON,2,20010225,0,NaN,NaN,...,7107,11.0,30446555.0,NaN,NaN,NaN,NaN,JLPINTO@MONTBLANC.COM.BS,NaN,NaN

In [3]:
df = pd.read_csv('estabelecimento9.csv', encoding = 'latin1', sep = ';', header=None)
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_5764\2859765701.py:1: DtypeWarning: Columns (8,10,21,22,24,25,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento9.csv', encoding = 'latin1', sep = ';', header=None)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,79242905,1,28,1,NaN,8,19870122,1,NaN,NaN,...,8173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47041223,1,60,1,NaN,2,20051103,0,NaN,NaN,...,6425,16.0,37216090,16.0,37014022.0,16.0,37014022,ASSEMBLEIADEDEUSFRANCA@HOTMAIL.COM,NaN,NaN
2,4938273,1,32,1,NaN,2,20020131,0,NaN,NaN,...,7963,41.0,2292148,NaN,NaN,41.0,2292148,NaN,NaN,NaN
3,5561924,1,80,1,NaN,8,20050516,1,NaN,NaN,...,6131,19.0,34651679,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42005868,1,24,1,NaN,8,19960630,1,NaN,NaN,...,3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,24513020,4,77,2,TRANSFIGUEIREDO,8,19951228,1,NaN,NaN,...,1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,24514093,2,11,2,NaN,8,20081231,71,NaN,NaN,...,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,5991530,1,62,1,CENTRO DE FORMACAO DE CONDUTORES VANTE,2,20051103,0,NaN,NaN,...,4701,38.0,38213634.0,NaN,NaN,NaN,NaN,AUTOESCOLAVANTE@GMAIL.COM,NaN,NaN
4753433,24515793,2,20,2,LOJAS RIBAMAR,2,20010526,0,NaN,NaN,...,1639,84.0,34211688.0,84.0,96849190.0,84.0,34211567.0,FMCONTABILIDADE2012@GMAIL.COM,NaN,NaN
4753434,2600132,1,80,1,TROON,2,20010225,0,NaN,NaN,...,7107,11.0,30446555.0,NaN,NaN,NaN,NaN,JLPINTO@MONTBLANC.COM.BS,NaN,NaN

In [4]:
df.columns = ['DESCRIÇÃO TIPO LOGRADOURO', 'LOGRADOURO', 'NUMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP',
                'UF', 'CODIGO MUNICIPIO', 'MUNICIPIO', 'DDD-TELEFONE-1', 'DDD', 'TELEFONE-1', 'DDD-TELEFONE-2',
                'DDD-2', 'TELEFONE-2', 'DDD-FAX', 'NU-DDD-FAX', 'NU-FAX', 'CORREIO ELETRONICO', 
                'QUALIFICAÇÃO DO RESPONSÁVEL', 'CAPITAL SOCIAL DA EMPRESA', 'PORTE-EMPRESA', 'OPÇÃO PELO SIMPLES',
                'DATA OPCAO PELO SIMPLES', 'DATA EXCLUSÃO DO SIMPLES', 'OPÇÃO PELO MEI', 'SITUAÇÃO ESPECIAL',
                'DATA SITUAÇÃO ESPECIAL', 'FILLER', 'FIM DE REGISTRO']
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,79242905,1,28,1,NaN,8,19870122,1,NaN,NaN,...,8173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47041223,1,60,1,NaN,2,20051103,0,NaN,NaN,...,6425,16.0,37216090,16.0,37014022.0,16.0,37014022,ASSEMBLEIADEDEUSFRANCA@HOTMAIL.COM,NaN,NaN
2,4938273,1,32,1,NaN,2,20020131,0,NaN,NaN,...,7963,41.0,2292148,NaN,NaN,41.0,2292148,NaN,NaN,NaN
3,5561924,1,80,1,NaN,8,20050516,1,NaN,NaN,...,6131,19.0,34651679,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42005868,1,24,1,NaN,8,19960630,1,NaN,NaN,...,3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,24513020,4,77,2,TRANSFIGUEIREDO,8,19951228,1,NaN,NaN,...,1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,24514093,2,11,2,NaN,8,20081231,71,NaN,NaN,...,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,5991530,1,62,1,CENTRO DE FORMACAO DE CONDUTORES VANTE,2,20051103,0,NaN,NaN,...,4701,38.0,38213634.0,NaN,NaN,NaN,NaN,AUTOESCOLAVANTE@GMAIL.COM,NaN,NaN
4753433,24515793,2,20,2,LOJAS RIBAMAR,2,20010526,0,NaN,NaN,...,1639,84.0,34211688.0,84.0,96849190.0,84.0,34211567.0,FMCONTABILIDADE2012@GMAIL.COM,NaN,NaN
4753434,2600132,1,80,1,TROON,2,20010225,0,NaN,NaN,...,7107,11.0,30446555.0,NaN,NaN,NaN,NaN,JLPINTO@MONTBLANC.COM.BS,NaN,NaN

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,79242905,1,28,1,NaN,8,19870122,1,NaN,NaN,...,8173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47041223,1,60,1,NaN,2,20051103,0,NaN,NaN,...,6425,16.0,37216090,16.0,37014022.0,16.0,37014022,ASSEMBLEIADEDEUSFRANCA@HOTMAIL.COM,NaN,NaN
2,4938273,1,32,1,NaN,2,20020131,0,NaN,NaN,...,7963,41.0,2292148,NaN,NaN,41.0,2292148,NaN,NaN,NaN
3,5561924,1,80,1,NaN,8,20050516,1,NaN,NaN,...,6131,19.0,34651679,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42005868,1,24,1,NaN,8,19960630,1,NaN,NaN,...,3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,24512592,2,70,2,NaN,4,20181120,63,NaN,NaN,...,5623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753430,24513020,4,77,2,TRANSFIGUEIREDO,8,19951228,1,NaN,NaN,...,1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,24514093,2,11,2,NaN,8,20081231,71,NaN,NaN,...,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,5991530,1,62,1,CENTRO DE FORMACAO DE CONDUTORES VANTE,2,20051103,0,NaN,NaN,...,4701,38.0,38213634.0,NaN,NaN,NaN,NaN,AUTOESCOLAVANTE@GMAIL.COM,NaN,NaN
4753433,24515793,2,20,2,LOJAS RIBAMAR,2,20010526,0,NaN,NaN,...,1639,84.0,34211688.0,84.0,96849190.0,84.0,34211567.0,FMCONTABILIDADE2012@GMAIL.COM,NaN,NaN

In [6]:
df.to_csv('n_estabelecimento9.csv', index=False)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,79242905,1,28,1,NaN,8,19870122,1,NaN,NaN,...,8173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47041223,1,60,1,NaN,2,20051103,0,NaN,NaN,...,6425,16.0,37216090,16.0,37014022.0,16.0,37014022,ASSEMBLEIADEDEUSFRANCA@HOTMAIL.COM,NaN,NaN
2,4938273,1,32,1,NaN,2,20020131,0,NaN,NaN,...,7963,41.0,2292148,NaN,NaN,41.0,2292148,NaN,NaN,NaN
3,5561924,1,80,1,NaN,8,20050516,1,NaN,NaN,...,6131,19.0,34651679,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42005868,1,24,1,NaN,8,19960630,1,NaN,NaN,...,3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,24512592,2,70,2,NaN,4,20181120,63,NaN,NaN,...,5623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753430,24513020,4,77,2,TRANSFIGUEIREDO,8,19951228,1,NaN,NaN,...,1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,24514093,2,11,2,NaN,8,20081231,71,NaN,NaN,...,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,5991530,1,62,1,CENTRO DE FORMACAO DE CONDUTORES VANTE,2,20051103,0,NaN,NaN,...,4701,38.0,38213634.0,NaN,NaN,NaN,NaN,AUTOESCOLAVANTE@GMAIL.COM,NaN,NaN
4753433,24515793,2,20,2,LOJAS RIBAMAR,2,20010526,0,NaN,NaN,...,1639,84.0,34211688.0,84.0,96849190.0,84.0,34211567.0,FMCONTABILIDADE2012@GMAIL.COM,NaN,NaN