In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('estabelecimento1.csv', encoding = 'latin1', sep = ';')
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_1592\1121772681.py:1: DtypeWarning: Columns (8,22,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento1.csv', encoding = 'latin1', sep = ';')

,07396865,0001,68,1,Unnamed: 4,08,20170210,01,Unnamed: 8,Unnamed: 9,...,8297,47,33851125,47.1,33851125.1,47.2,33851125.2,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,64904295,18,51,2,NaN,8,20161110,1,NaN,NaN,...,2785,11.0,36491000,31.0,33880436.0,82.0,33118379,CLAUDIO.GIGLIO@CAMIL.COM.BR,NaN,NaN
1,76016369,3,16,2,NaN,4,20231113,63,NaN,NaN,...,7071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,52302726,1,82,1,NaN,4,20210406,63,NaN,NaN,...,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7396923,1,53,1,NaN,8,20140115,1,NaN,NaN,...,7107,11.0,69658088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3650261,1,45,1,OTICA PERFEICAO,4,20190322,63,NaN,NaN,...,8113,48.0,2423953,NaN,NaN,48.0,2423953,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,35540760,1,76,1,NaN,4,20220107,63,NaN,NaN,...,7691,44.0,98257068.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753430,38755201,1,71,1,NaN,8,20210228,1,NaN,NaN,...,7097,0.0,0.0,NaN,NaN,0.0,0.0,psolriopreto@gmail.com,NaN,NaN
4753431,27880649,1,9,1,RESIDENCIAL VIENA,2,20170420,0,NaN,NaN,...,8669,54.0,34626517.0,NaN,NaN,NaN,NaN,CONTATO@EXATAADMINISTRADORA.COM.BR,NaN,NaN
4753432,38755560,1,29,1,NaN,8,20210228,1,NaN,NaN,...,2141,0.0,0.0,NaN,NaN,0.0,0.0,avantepocinhos@gmail.com,NaN,NaN
4753433,38755068,1,53,1,NaN,8,20210228,1,NaN,NaN,...,809,0.0,0.0,NaN,NaN,0.0,0.0,JABSALTOFALANTES@GMAIL.COM,NaN,NaN

In [3]:
df = pd.read_csv('estabelecimento1.csv', encoding = 'latin1', sep = ';', header=None)
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_1592\2024243377.py:1: DtypeWarning: Columns (8,22,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento1.csv', encoding = 'latin1', sep = ';', header=None)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,7396865,1,68,1,NaN,8,20170210,1,NaN,NaN,...,8297,47.0,33851125,47.0,33851125.0,47.0,33851125,NaN,NaN,NaN
1,64904295,18,51,2,NaN,8,20161110,1,NaN,NaN,...,2785,11.0,36491000,31.0,33880436.0,82.0,33118379,CLAUDIO.GIGLIO@CAMIL.COM.BR,NaN,NaN
2,76016369,3,16,2,NaN,4,20231113,63,NaN,NaN,...,7071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52302726,1,82,1,NaN,4,20210406,63,NaN,NaN,...,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7396923,1,53,1,NaN,8,20140115,1,NaN,NaN,...,7107,11.0,69658088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,35540760,1,76,1,NaN,4,20220107,63,NaN,NaN,...,7691,44.0,98257068.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,38755201,1,71,1,NaN,8,20210228,1,NaN,NaN,...,7097,0.0,0.0,NaN,NaN,0.0,0.0,psolriopreto@gmail.com,NaN,NaN
4753432,27880649,1,9,1,RESIDENCIAL VIENA,2,20170420,0,NaN,NaN,...,8669,54.0,34626517.0,NaN,NaN,NaN,NaN,CONTATO@EXATAADMINISTRADORA.COM.BR,NaN,NaN
4753433,38755560,1,29,1,NaN,8,20210228,1,NaN,NaN,...,2141,0.0,0.0,NaN,NaN,0.0,0.0,avantepocinhos@gmail.com,NaN,NaN
4753434,38755068,1,53,1,NaN,8,20210228,1,NaN,NaN,...,809,0.0,0.0,NaN,NaN,0.0,0.0,JABSALTOFALANTES@GMAIL.COM,NaN,NaN

In [4]:
df.columns = ['DESCRIÇÃO TIPO LOGRADOURO', 'LOGRADOURO', 'NUMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP',
                'UF', 'CODIGO MUNICIPIO', 'MUNICIPIO', 'DDD-TELEFONE-1', 'DDD', 'TELEFONE-1', 'DDD-TELEFONE-2',
                'DDD-2', 'TELEFONE-2', 'DDD-FAX', 'NU-DDD-FAX', 'NU-FAX', 'CORREIO ELETRONICO', 
                'QUALIFICAÇÃO DO RESPONSÁVEL', 'CAPITAL SOCIAL DA EMPRESA', 'PORTE-EMPRESA', 'OPÇÃO PELO SIMPLES',
                'DATA OPCAO PELO SIMPLES', 'DATA EXCLUSÃO DO SIMPLES', 'OPÇÃO PELO MEI', 'SITUAÇÃO ESPECIAL',
                'DATA SITUAÇÃO ESPECIAL', 'FILLER', 'FIM DE REGISTRO']
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,7396865,1,68,1,NaN,8,20170210,1,NaN,NaN,...,8297,47.0,33851125,47.0,33851125.0,47.0,33851125,NaN,NaN,NaN
1,64904295,18,51,2,NaN,8,20161110,1,NaN,NaN,...,2785,11.0,36491000,31.0,33880436.0,82.0,33118379,CLAUDIO.GIGLIO@CAMIL.COM.BR,NaN,NaN
2,76016369,3,16,2,NaN,4,20231113,63,NaN,NaN,...,7071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52302726,1,82,1,NaN,4,20210406,63,NaN,NaN,...,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7396923,1,53,1,NaN,8,20140115,1,NaN,NaN,...,7107,11.0,69658088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,35540760,1,76,1,NaN,4,20220107,63,NaN,NaN,...,7691,44.0,98257068.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,38755201,1,71,1,NaN,8,20210228,1,NaN,NaN,...,7097,0.0,0.0,NaN,NaN,0.0,0.0,psolriopreto@gmail.com,NaN,NaN
4753432,27880649,1,9,1,RESIDENCIAL VIENA,2,20170420,0,NaN,NaN,...,8669,54.0,34626517.0,NaN,NaN,NaN,NaN,CONTATO@EXATAADMINISTRADORA.COM.BR,NaN,NaN
4753433,38755560,1,29,1,NaN,8,20210228,1,NaN,NaN,...,2141,0.0,0.0,NaN,NaN,0.0,0.0,avantepocinhos@gmail.com,NaN,NaN
4753434,38755068,1,53,1,NaN,8,20210228,1,NaN,NaN,...,809,0.0,0.0,NaN,NaN,0.0,0.0,JABSALTOFALANTES@GMAIL.COM,NaN,NaN

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,7396865,1,68,1,NaN,8,20170210,1,NaN,NaN,...,8297,47.0,33851125,47.0,33851125.0,47.0,33851125,NaN,NaN,NaN
1,64904295,18,51,2,NaN,8,20161110,1,NaN,NaN,...,2785,11.0,36491000,31.0,33880436.0,82.0,33118379,CLAUDIO.GIGLIO@CAMIL.COM.BR,NaN,NaN
2,76016369,3,16,2,NaN,4,20231113,63,NaN,NaN,...,7071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52302726,1,82,1,NaN,4,20210406,63,NaN,NaN,...,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7396923,1,53,1,NaN,8,20140115,1,NaN,NaN,...,7107,11.0,69658088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,35540182,1,78,1,NaN,4,20220112,63,NaN,NaN,...,5901,21.0,21266286.0,NaN,NaN,NaN,NaN,ROBSONGAJR@HOTMAIL.COM,NaN,NaN
4753430,35540760,1,76,1,NaN,4,20220107,63,NaN,NaN,...,7691,44.0,98257068.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,38755201,1,71,1,NaN,8,20210228,1,NaN,NaN,...,7097,0.0,0.0,NaN,NaN,0.0,0.0,psolriopreto@gmail.com,NaN,NaN
4753432,27880649,1,9,1,RESIDENCIAL VIENA,2,20170420,0,NaN,NaN,...,8669,54.0,34626517.0,NaN,NaN,NaN,NaN,CONTATO@EXATAADMINISTRADORA.COM.BR,NaN,NaN
4753433,38755560,1,29,1,NaN,8,20210228,1,NaN,NaN,...,2141,0.0,0.0,NaN,NaN,0.0,0.0,avantepocinhos@gmail.com,NaN,NaN

In [6]:
df.to_csv('n_estabelecimento1.csv', index=False)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,7396865,1,68,1,NaN,8,20170210,1,NaN,NaN,...,8297,47.0,33851125,47.0,33851125.0,47.0,33851125,NaN,NaN,NaN
1,64904295,18,51,2,NaN,8,20161110,1,NaN,NaN,...,2785,11.0,36491000,31.0,33880436.0,82.0,33118379,CLAUDIO.GIGLIO@CAMIL.COM.BR,NaN,NaN
2,76016369,3,16,2,NaN,4,20231113,63,NaN,NaN,...,7071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52302726,1,82,1,NaN,4,20210406,63,NaN,NaN,...,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7396923,1,53,1,NaN,8,20140115,1,NaN,NaN,...,7107,11.0,69658088,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,35540182,1,78,1,NaN,4,20220112,63,NaN,NaN,...,5901,21.0,21266286.0,NaN,NaN,NaN,NaN,ROBSONGAJR@HOTMAIL.COM,NaN,NaN
4753430,35540760,1,76,1,NaN,4,20220107,63,NaN,NaN,...,7691,44.0,98257068.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,38755201,1,71,1,NaN,8,20210228,1,NaN,NaN,...,7097,0.0,0.0,NaN,NaN,0.0,0.0,psolriopreto@gmail.com,NaN,NaN
4753432,27880649,1,9,1,RESIDENCIAL VIENA,2,20170420,0,NaN,NaN,...,8669,54.0,34626517.0,NaN,NaN,NaN,NaN,CONTATO@EXATAADMINISTRADORA.COM.BR,NaN,NaN
4753433,38755560,1,29,1,NaN,8,20210228,1,NaN,NaN,...,2141,0.0,0.0,NaN,NaN,0.0,0.0,avantepocinhos@gmail.com,NaN,NaN